.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: center;
    color: dimgray;
    border-bottom: 3px solid rgb(219, 211, 202);
}


.content_wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 100%;
    margin: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.buttons {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: end;
}

.pessoa-cadastro-container {
    display: flex;
    flex-direction: column;
}

#foto {
    grid-column: 1 / span 3;
    grid-row: 1;
    margin: 5px;
}

#codigo {
    grid-column: 1 / span 3;
    grid-row: 2;
}

#nome {
    grid-column: 1 / span 4;
    grid-row: 3;
}

#cpf {
    grid-column: 5/span 2;
    grid-row: 3;
}

#rg {
    grid-column: 7/span 2;
    grid-row: 3;
}

#dataNascimento {
    grid-column: 9/span 2;
    grid-row: 3;
}

#nacionalidadePais {
    grid-column: 1/ span 2;
    grid-row: 4;
}

#nacionalidadeEstado {
    grid-column: 3/ span 2;
    grid-row: 4;
}

#nacionalidadeMunicipio {
    grid-column: 5/ span 2;
    grid-row: 4;
}

#sexo {
    grid-column: 7/ span 2;
    grid-row: 4;
}

#estadoCivil {
    grid-column: 9/ span 2;
    grid-row: 4;
}

#tituloEleitorNumero {
    grid-column: 1/ span 2;
    grid-row: 5;
}

#tituloEleitorZona {
    grid-column: 3/ span 2;
    grid-row: 5;
}

#tituloEleitorEstado {
    grid-column: 5/ span 2;
    grid-row: 5;
}

#tituloEleitorExpedicao {
    grid-column: 7/ span 2;
    grid-row: 5;
}

#tituloEleitorSecao {
    grid-column: 9/ span 2;
    grid-row: 5;
}

#nomePai {
    grid-column: 1/ span 4;
    grid-row: 6;
}

#nomeMae {
    grid-column: 5/ span 4;
    grid-row: 6;
}

#contatos_enderecos_tabs {
    margin-left: 10px;
    grid-column: 1/ span 10;
    grid-row: 7;
}

#tab_container {
    grid-column: 1/ span 10;
    grid-row: 8/ span 7;
    margin-left: 10px;
    margin-right: 10px;
}