.container {
    display: flex;
    flex-direction: column;
}

.buttons-container {
    display: flex;
    flex-direction: row;
}

.content_container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

#codigo {
    grid-column: 1 / span 3;
    grid-row: 1;
}

#idioma {
    grid-column: 1 / span 5;
    grid-row: 2;
}

#nivel_de_proficiencia {
    grid-column: 6 / span 5;
    grid-row: 2;
}

#aplicacoes_praticas {
    grid-column: 1 / span 10;
    grid-row: 3/ span 2;
}

.grid_container {
    overflow: auto;
    height: 100%;
}