.select_component_container_a816ecb5 {
    margin: 10px;
}

.pageButton_a816ecb5 {
    background-color: rgb(43, 207, 207);
    /* display: block; */
    position: relative;
}

.input_container_a816ecb5 {
    display: flex;
    align-items: center;
    position: absolute;
    right: 40px;
}

.input_container_a816ecb5>.button_arrow {
    text-align: center;
    text-decoration: none;
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.input_container_a816ecb5>.button_arrow:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.input_container_a816ecb5>.button_arrow:active {
    background-color: rgba(0, 0, 0, 0.08);
}