.container {
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.login-container {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    width: 500px;
    height: 300px;
}

.components-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 250px;
}




.alert {
    opacity: 0%;
}

.alert_show {
    animation-name: alertShow;
    animation-duration: 3s;
    animation-direction: alternate;
}




@keyframes alertShow {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}