.container {
    height: 98%;
    margin: .5%;
}

.fields-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(13, 1fr);
}

#codigo {
    grid-column: 1 / span 3;
    grid-row: 1;
}

#pessoa {
    grid-column: 1 / span 4;
    grid-row: 2;
}

#cpf {
    grid-column: 5 /span 2;
    grid-row: 2;
}

#formaçoes_academicas {
    grid-column: 7 / span 4;
    grid-row: 2;
}

#funcao {
    grid-column: 1 / span 2;
    grid-row: 3;
}

#carga_horaria {
    grid-column: 3 / span 2;
    grid-row: 3;
}

#valor_da_hora_aula {
    grid-column: 5 / span 2;
    grid-row: 3;
}

#areas_de_atuaçao {
    grid-column: 7 / span 5;
    grid-row: 3;
}

#nivels_de_ensino_que_ministra {
    grid-column: 1 / span 4;
    grid-row: 4;
}

#data_de_inicio_da_contratacao {
    grid-column: 5 / span 2;
    grid-row: 4;
}

#tipo_de_contrato {
    grid-column: 7 / span 2;
    grid-row: 4;
}

#abas {
    margin-left: 10px;
    grid-column: 1 / span 10;
    grid-row: 5;
}

#showTab {
    grid-column: 1/ span 10;
    grid-row: 6/ span 7;
}