.textFieldComponet-bdc8183e {
    margin: 10px;
}

.textFieldComponet-bdc8183e>.MuiFormControl-root>.MuiInputBase-root {
    height: 40px;
}

.textFieldComponet-bdc8183e>.MuiFormControl-root label {
    top: -5px;
    animation-name: frameFocusFalse;
    animation-duration: 0.1s;
}

.textFieldComponet-bdc8183e>.MuiFormControl-root label.Mui-focused {
    top: 0;
    animation-name: frameFocusTrue;
    animation-duration: 0.1s;
}

.textFieldComponet-bdc8183e>.MuiFormControl-root .MuiFormLabel-filled {
    top: 0;
    animation-name: frameFocusTrue;
    animation-duration: 0.001s;
}

.textFieldComponet-bdc8183e>.MuiFormControl-root>.MuiInputBase-root input {
    margin-top: 5px;
    margin-left: 10px;
}

@keyframes frameFocusTrue {
    from {
        top: -5px;
    }

    to {
        top: 0;
    }
}

@keyframes frameFocusFalse {
    from {
        top: 0;
    }

    to {
        top: -5px;
    }
}

.textFieldComponet-bdc8183e>.MuiFormControl-root input {
    padding: 0;
}